.test {
    color: tomato;
    font-weight: bold;
    background-color: blueviolet;
    margin: 10px;
}

.board-item {
    width: 350px;
    min-height: 5%;
    margin: 20px;
}

.add-icon {
    float: right;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
}

.card-style {
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 5px;
    min-height: 70px;
    color: white;
}

.retro-textarea {
    min-height: 240px;
}

.retro-card-footer {
    float: right;
    position: relative;
    padding: 10px;
    display: inline;
}

.retro-card-footer-action-icon {
    margin-right: 5px;
    display: inline;
}

.retro-card-footer-action-text {
    font-size: 70%;
    color: white;
    margin-right: 10px;
}

.retro-card-username {
    float: left;
    font-size: 85%;
    color: white;
    margin-left: 10px;
}